.JournalContainer {
    margin-top: 25px;
    .content {
      
        .tableContainer {
            margin: 20px;
            .sub_title {
                text-align: center;
                font-size: 22px;
                margin-bottom: 15px;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .addBtn {
                    cursor: pointer;
                    font-size: 16px;
                    border: 1px solid white;
                    padding: 5px 10px;
                }
                .editBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: 16px;
                    }
                    cursor: pointer;
                    i {
                        margin-right: 3px;
                        font-size: 25px;
                    }
                }
            }
            .journalListContainer {
                height: 295px;
                overflow-y: scroll;
                background-color: #41596e;
                border-radius: 5px;
            }
            input {
                text-align: center;
                background-color: transparent;
                text-align: center;
                border: 0;
                font-size: 13px;
                outline: none;
                font-family: sans-serif;
            }
            textarea {
                text-align: center;
                width: 100%;
                background-color: transparent;
                text-align: center;
                border: 0;
                font-size: 17px;
                font-weight: 600;
                outline: none;
                font-family: sans-serif;
            }
        }
    }
}