/**
// ------ HomePage Style--------- 
*/

.homepageContainer {
    height: 100vh;
     .container {
         display: flex;
         flex-direction: row;
          .timeline {
              width: 25%
          }
          .facts {
              width: 25%
          }
          .media {
              width: 25%
          }
          .profile {
              width: 25%
          }
     }
} 
